@charset "UTF-8";
// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// Elements
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
// @import "components/dropdown";
@import "components/waves";
// @import "components/modal";
// @import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
// @import "components/slider";
// @import "components/carousel";
// @import "components/date_picker/default";
// @import "components/date_picker/default.date";
// @import "components/date_picker/default.time";

@import 'partials/vars';
@import 'partials/cards';

// Mon code SASS

body {
  @extend .light-blue, .lighten-5;

  .container {
    @extend .light-blue, .lighten-5;

  }
  nav {
    .brand-logo {
      margin-left: 1rem;
    }
  }
  .grid {  margin: 10px auto 0 auto; }
  .grid-item { width: 300px; }

  .side-nav {
    @extend .pink-text, .text-lighten-1;
    padding: 20px;
    .input-field {
      margin: 25px 0 0 0;
    }
    h4 {
      margin-top: 0px;
    }
  }

  #chips-tags {
    margin-top: 25px;
  }
  .card-reveal {
    span {
      font-style: italic;
      font-size: 0.8rem;
    }
  }
  .tags {
    margin: 0;
  }
  .chips {
    border-bottom: none;
  }
  .chips .input {
    display: none;
  }
  .range-holder {
    margin-top: 35px;
    margin-bottom: 25px;
    .img-counter {
      font-weight: bold;
      color: white;
      padding: 3px 10px;
      background-color: $secondary-color;
      border-radius: 25px;
      margin-left: 10px;
    }
    input {
      margin-top:15px;
      width:80%;
    }
  }
  .loader-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  #mobile-demo {
    p { margin: 0; }
  }
}
